################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SensitiveWordsUnitTests/obj
/SensitiveWordsUnitTests/bin/Debug/net5.0
